
#bottom-panel-container{
  min-width: 100%;
  min-height: 20%;
  max-height: 98%;
  margin: auto;
  position: absolute;
  bottom: 0px;
}

#bottom-panel{
  border-radius: 12px;
  max-width: 80%;
  margin: auto;
  height: 90%;
  position: relative;
  background-color: white;
}
