<div class="transit-card">
  <div class="transit-card-right">
    <div class="transit-card-route-no">
      {{ route.RouteNo }}
    </div>
  </div>
  <div class="transit-card-right">
    <div class="transit-card-route-heading">
      {{ route.RouteHeading }}
    </div>
    <div class="transit-card-route-trips">
      <div *ngIf="isOnlyTrip() ; else elseBlock1">
        <div *ngIf="route.Trips.Trip ; else elseBlock2">
          <div class="transit-card-route-trips" *ngIf="route.Trips.Trip.AdjustedScheduleTime ; else elseBlock3">
            <div class="transit-card-route-trip">
              {{ route.Trips.Trip.AdjustedScheduleTime }} 5
            </div>
          </div>
          <ng-template #elseBlock3>
              <div class="transit-card-route-trips" *ngFor="let trip of route.Trips.Trip">
              <div class="transit-card-route-trip">
                {{ trip.AdjustedScheduleTime }} 1
              </div>
          </div>
          </ng-template>
        </div>
        <ng-template #elseBlock2 class="transit-card-route-trips">
          <div class="transit-card-route-trip">
            {{ route.Trips.AdjustedScheduleTime }} 2
          </div>
        </ng-template>
        
      </div>
      <ng-template #elseBlock1>
        
        <div *ngIf="route.Trips ; else elseBlock4">
          <div  *ngFor="let trip of route.Trips">
            <div class="transit-card-route-trip">
              {{ trip.AdjustedScheduleTime }} 7
            </div>
          </div>
        </div>
        <ng-template class="transit-card-route-trips" #elseBlock4>
          <div class="transit-card-route-trip">
            {{ route.Trips.AdjustedScheduleTime }} 8
          </div>
        </ng-template>

      </ng-template>
    </div>
  </div>
</div>
